.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.header {
    text-align: center;
}

.jons-reflections {
    color: #fff;
    text-align: center;
}

footer {
    margin-top: auto;
}