@import "themes/variables";

@import "bulma/sass/utilities/_all";
@import "bulma/sass/helpers/_all";
@import "bulma/sass/layout/_all";
@import "bulma/sass/base/_all";

@import "bulma/sass/components/navbar";

@import "bulma/sass/components/card";
@import "bulma/sass/components/media";

@import "bulma/sass/elements/container";

@import "bulma/sass/elements/content";

@import "bulma/sass/elements/title";

@import "bulma/sass/grid/columns";

body {
    overflow-x: hidden;
}

@media (max-width: 768px) { /* Adjust the breakpoint as per your requirements */
    .navbar-brand {
        justify-content: center;
    }
}

@media (max-width: 320px) {
    .title.is-2 {
      font-size: 1.5rem; /* Adjust this value based on your design needs */
    }
}