@import "themes/simplex";

body {
    overflow-x: hidden;
}

@media (max-width: 768px) { /* Adjust the breakpoint as per your requirements */
    .navbar-brand {
        justify-content: center;
    }
}

@media (max-width: 320px) {
    .title.is-2 {
      font-size: 1.5rem; /* Adjust this value based on your design needs */
    }
}

.media-content {
    overflow: hidden;
}