@import "themes/variables";

@import "bulma/sass/utilities/_all";
@import "bulma/sass/helpers/_all";
@import "bulma/sass/base/_all";

@import "bulma/sass/layout/footer";
@import "bulma/sass/components/navbar";

@import "bulma/sass/elements/container";

@import "bulma/sass/elements/title";

body {
    overflow-x: hidden;
}

.page-container {
    min-height: 100vh; 
}
