@import "themes/variables";

@import "bulma/sass/utilities/_all";
@import "bulma/sass/helpers/_all";
@import "bulma/sass/base/_all";

@import "bulma/sass/layout/footer";
@import "bulma/sass/components/navbar";

@import "bulma/sass/elements/container";
@import "bulma/sass/elements/content";
@import "bulma/sass/elements/title";

body {
    overflow-x: hidden;
}

@media (max-width: 768px) { /* Adjust the breakpoint as per your requirements */
    .navbar-brand {
        justify-content: center;
    }
}

.media-content {
    overflow: hidden;
}
